body{
    background-color:#FFFFFF;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-header{
    background-color:#FFFFFF;
    width: 100%;
    height: 75px;
    position: fixed;
}

.logo{
    float: left;
    color: black;
    text-align: center;
    padding: 6px 16px;
}
#navbar{
    margin-top: 10px;
    float: right;
}
#navbar ul{
    padding: 0;
    list-style: none;   
}

#navbar li{
    display: inline;
    padding: 15px 10px;
    cursor: pointer;
}
#navbar a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 10px;
    cursor: pointer;
}
#navbar a:hover{
    color: rgb(27, 139, 167);    
}
#navbar .point{
    color: rgb(27, 139, 167);
}
#s1{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 60px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    
}
#check{
    display: none;
}
#hero{
    height: 900px;
    color: #FFFFFF;
}
#sidebar1{
    float: left;
    padding-top: 130px;

} 
#sidebar2{
    float: right;
    padding-top: 100px;
}    
#hero h1{
    color: rgb(252, 248, 248);
    font-size: 40px;
    line-height: 1.6em;
   
}
#sidebar-a{
    float:left;
    margin-top: 150px;
    margin-left: px;
    
}
#box-a{
    float: right;
    padding-top: 250px;
    margin: 20px;
    min-height: 610px;


}
.block-a{
    height: 300px;
    background-color: aliceblue;
    margin-top: 150px;
    padding-top: 10px;
}
.block-a h2{
    text-align: center;
    margin-top: 50px;
    text-decoration: underline;
}
.block-a p{
    text-align: center;
    margin-top: 50px;
    
}
.block-b{
    height: 400px;
    background-color: aliceblue;
    margin-top: 30px;
    padding-top: 10px;
}
.block-b h2{
    text-align: center;
    margin-top: 50px;
    text-decoration: underline;
}
.frm{
    text-align: center;
    margin-top: 50px;
}
.form-group textarea{
    margin-right: 30px;
}
#edit{
   height:600px;
   text-align: center;
   padding-top: 300px;
   color: black;
   font-size: large;
}
.frm input[type="text"], .frm input[type="email"], .frm textarea{
  padding: 8px;  
  width: 60;
}
#ftr{
    text-align: center;
    margin-left: 30px;  
     
}

@media(max-width:800px){
    label #s1{
        display: block;
    }

    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgb(245, 246, 248);
        top: 50px;
        left: -100%;
        text-align: center;
        transition: 0.5s;
        z-index: 10;
    }

    nav ul li{
        display: block;
        margin: 40px 0;
        line-height: 30px;

    }

    nav ul li a{
        font-size: 16px;
        display: block;
    }

    #check:checked ~ ul{
        left: 0;
    }

    #check:checked ~ label #s1{
        display: none;
    }
    #box-a{
        padding-top: 30px;
        min-height: 250px;
    }

  
}   
section{
    background: url(https://i.ibb.co/whpBJhj/Getty-Images-1251629816-1-scaled-1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh -80px);
}