body{
    background-color:cadetblue;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-header{
    background-color: darkolivegreen;
    width: 100%;
    height: 75px;
    position: fixed;
}

.logo{
    float: left;
    color: black;
    text-align: center;
    padding: 6px 16px;
}
#navbar{
    margin-top: 10px;
    float: right;
}
#navbar ul{
    padding: 0;
    list-style: none;   
}

#navbar li{
    display: inline;
    padding: 15px 10px;
    cursor: pointer;
}
#navbar a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 10px;
    cursor: pointer;
}
#navbar a:hover{
    background-color: aquamarine;
    color: black;
    
}
#hero{
    background-image: url(https://media.istockphoto.com/vectors/realistic-mountains-landscape-morning-wood-panorama-pine-trees-and-vector-id1150481340?k=20&m=1150481340&s=612x612&w=0&h=y_RdS4lPY2p7O_bh1ZhaeLLOOuSLNBaHZFMdmgdQaVE=);
    background-position: center;
    min-height: 400px;
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
}
#hero h1{
    color: black;
    font-size: 40px;
    line-height: 1.6em;
    padding-top: 50px;
}
#sidebar{
    float: left;
    width: 25%;
    padding: 0 30px;
    box-sizing: border-box;
    background-color: aliceblue;
    color: black;
    text-align: center;
}
.raw{
    width: 100%;
    margin: auto;
    padding: 0;
    height: 500px;
}
.block{
    float: right;
    width: 20%;
    border: 1px black solid;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 1.5%;
    background-color: aliceblue;
    text-align: center;
    height: 400px;
}
#sidebar-a{
    float:left;
    margin-top: 150px;
    margin-left: 20px;
    
}
.box-a{
    float: right;
    padding: 50px;
    margin: 80px;
    height: 650px;
}
.block-a{
    float: left;
    width: 40%;
    height: 600px;
    background-color: aliceblue;
    margin-top: 150px;
}
.block-a h2{
    text-align: center;
    margin-top: 50px;
    text-decoration: underline;
}
.block-a p{
    text-align: center;
    margin-top: 50px;
    
}
.block-b{
    float: right;
    width: 50%;
    height: 800px;
    background-color: aliceblue;
    margin-top: 150px;
}
.block-b h2{
    text-align: center;
    margin-top: 50px;
    text-decoration: underline;
}
.frm{
    text-align: center;
    margin-top: 100px;
}
.edit{
   height:800px;
   text-align: center;
   margin-top: 100px;
}
.frm input[type="text"], .frm input[type="email"], .frm textarea{
  padding: 8px;  
  width: 60;
}
#ftr{
    float: left;
    margin-left: 30px;
    
}