<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" type="image/png" href="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Icon_S_blue.svg/512px-Icon_S_blue.svg.png">
</head>
<body>
    
    <body>
        <header id="main-header">
            <div class="container">
                <div class="logo">
                    <h1>ST-Pierre</h1>
                </div>
                <nav id="navbar">
                    <input type="checkbox" id="check">
                    <label for="check" class="menu-btn">
                        <i class="fas fa-bars" id="s1"></i>
                    </label>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/Services">Services</a></li>
                        <li><a class="Point" href="/About">About</a></li>
                        <li><a href="/Portfolio">Portfolio</a></li>
                        <li><a href="/Contact">Contact me</a></li>
                    </ul>
                </nav>
            </div>
        </header>
     <div class="container">
     <aside id="sidebar-a">
        <img src="https://i.ibb.co/qBkhwCK/male-profile-avatar-with-brown-hair-vector-12055105.jpg" class="img-a">
     </aside>
     <aside id="box-a">
        <h1>Hi , I am ST.Pierre</h1>
        <p>I am a beginner developer.<br><br>
            I love working and experimenting with creative ideas.
        I'm always looking for new project  </p>
     </aside>
     </div> 
     <footer id="ftr">
        <p>Copyright &copy; 2022</p>
    </footer>
</body>
</html>